@charset "utf-8";

@import "dev/test";
@import "dev/theme";

.view-body{
    background-color: #F2F2F2;
    //background-color: blue;
}
.service-logo{
    background-image: url("../images/service/bg.png");
    background-size: cover;
}
.self-info{
    background-image: url("../images/self/wdbg.jpg");
    background-size: cover;
}
.superior-box{
    background-image: url("../images/service/btn-bg.png");
    background-size: cover;
}
.status-body{
    background-image: url("../images/self/status/status-bg.jpg");
    background-size: cover;
}
//.readySalt{
//    background-image: url("../images/self/status/buy.png");
//    background-size: 100% 100%;
//}
//.look{
//    background-image: url("../images/self/status/look.png");
//    background-size: 100% 100%;
//}
