@charset "utf-8";

@import "dev/test";

@tabs-border-top-line-color: #387ef5;
@tabs-nav-border-top-line-color: #D1CEC9;

.iconfont{
}
.tab-item-active{
    border-width: 0px !important;
}
.tabs-color-active-positive .tab-item{
    border-width: 0px !important;
}
.tab-item{
    border-width: 0px !important;
    color: #aaa9a9 !important;
}

.tabs{
    border-color: transparent ;
    background-color: #DFDFDD !important;
}
.tabs-color-active-assertive .tab-item.tab-item-active{
    color: #dc3125 !important;
}
