<ion-view view-title="专业团队">
    <ion-content class="view-body has-header team-body">
        <div class="member-list">
            <div class="menber-item" ng-repeat="a in [0,1,2,3]">
                <div class="row">
                    <div class="col col-33 member-avatar">
                        <img src="http://placehold.it/120x160">
                    </div>
                    <div class="col col-67">
                        <div class="row">
                            <div class="col col-50">
                                <h3>姓名</h3>
                            </div>
                            <div class="col col-50 member-post">
                                首席设计师
                            </div>
                        </div>
                        <div class="text-gray" ng-init="num = 3">服务星级：<rating ng-model="num" max="4"></rating></div>
                        <div class="text-gray">从业年职：4年</div>
                        <div class="assertive member-skill">全案设计,色彩搭配，大户型全案设计,色彩搭配，大户型</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-100 col">
                        <span class="text-gray">理念：生活在于品质，品质在于细节</span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
