<ion-view view-title="注册">
    <ion-content class="view-body has-header" >
        <div class="padding"></div>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="用户名" ng-model="form.username">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="手机号" ng-model="form.mobilePhoneNumber" ng-pattern="/^1[3|4|5|7|8][0-9]\d{8}$/">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="密码" ng-model="form.password">
            </label>
        </div>
        <div class="" style="padding: 0 10px;">
            <button class="button button-full button-positive" ng-click="subSignUp()">
                注册
            </button>
        </div>
        <div class="list">

        </div>
        <div class="padding"></div>
        <div class="text-center">
            微信登录
        </div>
        <div class="padding"></div>
        <div class="text-center">
            <img src="images/self/wechat.png" alt="" style="width: 47px;"/>
        </div>
        <div class="padding"></div>
        <div class="row">
            <div class="col col-offset-10 col-90 text-right">跳过》》》</div>
        </div>
    </ion-content>
</ion-view>
