<ion-view view-title="智能报价">
    <ion-content class="view-body has-header quote-body">
        <div class="padding"></div>
        <form class="list" name="quoteForm">
            <label class="item item-input row">
                <div class="input-label col col-75" style="padding-left: 10px;">
                    面积
                </div>
                <div class="col-25 col">
                    <input type="text" ng-model="form.area" placeholder="㎡" name="area" size="50" style="text-align: right;padding-right:5px;max-width:50px;border: 1px #bdbdbd solid;" ng-pattern="/^[0-9]*$/" required>
                </div>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    建筑户型
                </div>
                <select>
                    <option selected>一室一厅一卫</option>
                    <option>两室一厅一卫</option>
                    <option>三室一厅一卫</option>
                </select>
            </label>
            <div class="item item-input item-select">
                <div class="input-label">
                    装修套餐
                </div>
                <select ng-model="form.taocan" ng-options="taocan.name for taocan in taocanList">
                </select>
            </div>
        </form>
        <button class="button button-full button-energized" ng-click="subquote(quoteForm.area.$valid)">
            智能报价
        </button>
    </ion-content>
</ion-view>
