<ion-view view-title="自主验收">
    <ion-content class="view-body has-header checkOut-body" ng-init="num = 4">
        <div class="row">
            <div class="col col-100 text-center assertive">
                完成验收，赚积分！
            </div>
        </div>
        <div class="step-list list">
            <div class="step-item item" ng-repeat="a in [1,2,3]">
                <div class="row padding-bottom">
                    <div class="col col-100 text-center step-name">
                        测量设计
                    </div>
                </div>
                <div class="row">
                    <div class="col col-33 result-text text-right">
                        项目效果：
                    </div>
                    <div class="col col-67" ng-init="num = 4">
                        <!--<rating ng-model="num" max="5"></rating>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col col-33 result-text text-right">
                        服务态度：
                    </div>
                    <div class="col col-67 text-left" ng-init="num = 4">
                        <!--<rating ng-model="num" max="5"></rating>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col col-25"></div>
                    <div class="col col-50 text-center">
                        <button class="button button-assertive button-full">
                            通过验收
                        </button>
                    </div>
                    <div class="col col-25"></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
